# Required: Cube API server address
export E2B_API_URL="http://<your-node-ip>:3000"

# Required: any non-empty value satisfies the SDK check
export E2B_API_KEY="e2b_000000"

# Required: template ID from `cubemastercli tpl create-from-image ...`
export CUBE_TEMPLATE_ID="<your-template-id>"


export SSL_CERT_FILE="/etc/pki/tls/cert.pem"
