version: "3"
services:
  mysql:
    image: __MYSQL_IMAGE__
    container_name: __MYSQL_CONTAINER__
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "__MYSQL_ROOT_PASSWORD__"
      MYSQL_DATABASE: "__MYSQL_DB__"
      MYSQL_USER: "__MYSQL_USER__"
      MYSQL_PASSWORD: "__MYSQL_PASSWORD__"
    ports:
      - "127.0.0.1:__MYSQL_PORT__:3306"
    command:
      - --default-authentication-plugin=mysql_native_password
      - --skip-name-resolve
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h 127.0.0.1 -u__MYSQL_USER__ -p__MYSQL_PASSWORD__ --silent",
        ]
      interval: 3s
      timeout: 3s
      retries: 20
    volumes:
      - __MYSQL_VOLUME__:/var/lib/mysql

  redis:
    image: __REDIS_IMAGE__
    container_name: __REDIS_CONTAINER__
    restart: unless-stopped
    command:
      - redis-server
      - --requirepass
      - "__REDIS_PASSWORD__"
    ports:
      - "127.0.0.1:__REDIS_PORT__:6379"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "redis-cli -a \"__REDIS_PASSWORD__\" ping | grep -x PONG",
        ]
      interval: 3s
      timeout: 3s
      retries: 20
    volumes:
      - __REDIS_VOLUME__:/data

volumes:
  __MYSQL_VOLUME__:
  __REDIS_VOLUME__:
